<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Document</title>
</head>

<body class="white">
    <div class="wrapper">
        <dialog id="input-form-wrapper" close>
            <div class="input-wrapper">
                <button onclick="closeModal()"><span>&times;</span></button>
                <form id="input_form" method="dialog">
                </form>
            </div>
        </dialog>
        <div class="header">
            <p>Select destination</p>
            <ul class="nav">
                <li><button onclick="getTable('university')">university</button></li>
                <li><button onclick="getTable('students')">student</button></li>
                <li><button onclick="getTable('dormitories')">dormitories</button></li>
                <li><button onclick="getTable('majors')">major</button></li>
                <li><button onclick="getTable('students_dormitory')">students-dormitory</button></li>
                <li><button onclick="getTable('staff')">staff</button></li>


            </ul>
        </div>
        <main>
            <div>
                <ul id="nav_table" class="nav-table"></ul>
            </div>
            <div>
                <table id="find_table"></table>
            </div>
            <br>
            
            <table id="table-data">

            </table>
        </main>
    </div>
</body>

<script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>

</html>