doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet', href='/style.css')
    script(src='/script.js')
  body
    div.nav
      ul.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='/api/meals') Meals
        li
          a(href='/api/orders') Orders
        li
          a(href='/api/drinks') Drinks
        li
          a(href='/api/deliveries') Delivery
    block content