html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    div.nav
      ul.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='/api/clients') Clients
        li
          a(href='/api/meals') Meals
        li
          a(href='/api/orders') Orders
        li
          a(href='/api/drinks') Drinks
    block content